@keyframes blob {
    0% {
        transform: translate(0) scale(1);
    }

    33% {
        transform: translate(30px, -50px) scale(1.1);
    }

    66% {
        transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
        transform: translate(0) scale(1);
    }
}

.animate-blob {
    animation: blob 7s infinite;
}


.emscripten {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    image-rendering: optimizeSpeed;
    image-rendering: optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}